@font-face {
  font-family: "Plain Regular" ;
  src: url(./fonts/plain-regular-webfont.woff);
}

@font-face {
  font-family: "Plain Light";
  src: url(./fonts/plain-light-webfont.woff);
}

@font-face {
  font-family: 'Silk Serif Italic';
  src: url(./fonts/silkserif-regularitalic-webfont.woff);
}

@font-face {
  font-family: 'Silk Serif';
  src: url(./fonts/silkserif-lightitalic-webfont.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plain Light';
  color: white;
}

html, body {
  height: 100%;
  width: 100%;
}

.cursor {
  height: 3.5vw;
  width: 3.5vw;
  border-radius: 50%;
  /* background-color: white; */
  border: 1px solid #ffffffbe;
  position: fixed;
  z-index: 999;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}

.loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #030303;
  padding: 25vh 5vw; 
}

.line {
  /* background-color: red; */
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
} 

.line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw
}

.line1-part1 h5, .line1-part1 h6 {
  font-size: 3vw;
  font-family: 'Silk Serif Italic';
  font-weight: 100;
}

.line1-part1 h5 {
  /* background-color: red; */
  width: 5vw;
  text-align: right;
}

.line h1 {
  font-size: 7.5vw;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 7.7vw;
  /* letter-spacing: 0px; */
}

.line h2{
  font-size: 4.9vw;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  
}

@keyframes anime {
  0%{
    font-family: 'Plain Light';
    -webkit-text-stroke: 1px #fff;
    color: white;
    font-size: 500;
    opacity: 1;
  }
  48%{
    font-family: 'Plain Light';
    -webkit-text-stroke: 1px #fff;
    color: white;
    font-size: 500;
    opacity: 0;
  }
  50%{
    font-family: 'Silk Serif';
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-size: 500;
    opacity: 1;
  }
  100%{
    font-family: 'Silk Serif';
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-size: 500;
    opacity: 0;
  }
}

.main {
  position: relative;
  background-color: #030303 ;
}

.page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}

.page1 nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5vw 6vw;
}

nav .nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw
}

.nav-part2 h4 {
  font-size: 1vw;
  font-weight: 500;
}

.hero-heading {
  /* background-color: red; */
  width: 73%;
  margin-left: 27%;
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 9999;
}


/* .box {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 99999;
} */

.hero-heading:nth-child(2) {
  margin-top: 20vh;
}

.hero-heading h1{
  font-size: 7vw;
  text-transform: uppercase;
  line-height: 7vw;
}

.hero-heading h2{
  font-size: 7vw;
  text-transform: uppercase;
  line-height: 7vw;
  border-bottom: 0.8vw solid #fff;
  padding-bottom: 0.4vw;
}

.hero-heading h3 {
  font-size: 7vw;
  text-transform: uppercase;
  line-height: 7vw;
  padding-left: 10px;
}

.hero-heading h2:hover{
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 500;
  border-bottom: 0.8vw solid #ffffff00;
}